<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <title>귀농 백과</title>
  <link rel="stylesheet" th:href="@{/download/index.css}" />
</head>
<body>
<header>
  <div class="container">
    <h1>귀농 백과</h1>
    <h2>농업 정보의 모든 것</h2>
    <a th:href="@{파일 위치}" class="btn btn-transparent" download="귀농백과.apk">지금 다운로드!</a>
  </div>
</header>

<section>
  <div class="container">
    <div class="col-7 details   ">
      <h3>귀농 백과에 대해</h3>
      <p>
        귀농 백과란? 귀농 초보인들을 위해 만들어진 어플 쉽고 편리한 접근성 검색의 어려움을 위해
      </p>
      <p>
        초보 귀농인들과 함께 머리 맞대고 농사 지어줄 귀농 챗봇 귀농할 농산물의 과거 판매량을 통해 농산물을 선정해 적자없는 귀농생활
      </p>
    </div>
  </div>
</section>
</body>
</html>