<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.farm.pedia.comment.mapper.CommentMapper">

    <insert id="save" parameterType="com.farm.pedia.comment.domain.Comment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment (content, user_id, board_id, state, created_at, updated_at)
        VALUES (#{content}, #{userId}, #{boardId}, #{state}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="findAll" resultType="com.farm.pedia.comment.domain.Comment">
        SELECT id,
               board_id   as boardId,
               user_id    as userId,
               content,
               state,
               parent_id  as parentId,
               created_at as createdAt,
               updated_at as updatedAt
        FROM comment
        WHERE state = 0

    </select>

    <select id="findById" resultType="com.farm.pedia.comment.domain.Comment">
        SELECT id,
               board_id   as boardId,
               user_id    as userId,
               content,
               state,
               parent_id  as parentId,
               created_at as createdAt,
               updated_at as updatedAt
        FROM comment
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.farm.pedia.comment.domain.Comment">
        UPDATE comment
        SET content    = #{content},
            updated_at = #{updatedAt},
            state      = #{state},
            user_id    = #{userId},
            board_id   = #{boardId}
        WHERE id = #{id}
    </update>

    <update id="logicalDelete" parameterType="Long">
        UPDATE comment
        SET state = 1
        WHERE id = #{id}
          AND state = 0

    </update>
    <select id="findByBoardId" resultType="com.farm.pedia.comment.domain.Comment">
        SELECT id,
               content,
               user_id    as userId,
               board_id   as boardId,
               state,
               created_at as createdAt,
               updated_at as updatedAt
        FROM comment
        WHERE board_id = #{boardId}
          AND state = 0
    </select>

</mapper>